/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ffffff;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Typography */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    text-transform: none;
}

h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    line-height: 32px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 28px;
}

h5 {
    font-size: 16px;
    line-height: 26px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-size: 14px;
}


.row .layer
{
    padding-top:50px;
}

.newfold
{
    padding-top:40px;
}


.form-container {
    padding-top: 50px;
}

.nextlayer{

    padding-top:50px;
}


.submitbtn
{
background-color: #1e87f0;
color: #fff;
border: 1px solid transparent;
}

.submitbtn {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;